@keyframes ldio-qczcq7e66g {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
.ldio-qczcq7e66g div {
  left: 97.48499999999999px;
  top: 57.285px;
  position: absolute;
  animation: ldio-qczcq7e66g linear 0.625s infinite;
  background: #999999;
  width: 6.029999999999999px;
  height: 18.089999999999996px;
  border-radius: 3.0149999999999997px / 3.4370999999999996px;
  transform-origin: 3.0149999999999997px 43.214999999999996px;
}
.ldio-qczcq7e66g div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.5729166666666666s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.5208333333333333s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.46874999999999994s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.41666666666666663s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.36458333333333326s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.31249999999999994s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.26041666666666663s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.20833333333333331s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.15624999999999997s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.10416666666666666s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.05208333333333333s;
  background: #999999;
}
.ldio-qczcq7e66g div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #999999;
}
.loadingio-spinner-spinner-2hdzg32gl7c {
  width: 201px;
  height: 201px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-qczcq7e66g {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qczcq7e66g div {box-sizing: content-box;}